<% layout('layout') -%>
<% if (!user) { %>
<div class="alert alert-danger">
    <a href="/login">Please Login Again.</a>
</div>
<% } else { %>
    <div class="container-fluid">
        
    </div>
<% } %>

