
<!-- 
    sidebar partial view    
-->
<div class="col-sm-3 col-md-2 sidebar">
    <div class="btn-group btn-group-sm">
        <a class="btn btn-default">Add</a>
    </div>

    <!-- User Graph -->
    <ul id="user_graph"  class="nav nav-sidebar" data-resource="/api/user/<%= user.username %>">
        <li>
            <a href="#"><i class="fa fa-folder-o fa-2x"></i>Document</a>
            <ul class="" style="list-style-type: none">
                <li><a href="#"><i class="fa fa-folder-o fa-2x"></i>Document</a></li>
                <li><a href="#"><i class="fa fa-folder-o fa-2x"></i>Document</a></li>
                <li><a href="#"><i class="fa fa-folder-o fa-2x"></i>Document</a></li>
                <li><a href="#"><i class="fa fa-folder-o fa-2x"></i>Document</a></li>
            </ul>
        </li>
    </ul>

</div>