<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>cosmos :|| .ready</title>

    <script type="text/javascript" src="lib/common/headjs/head.js" data-headjs-load="content.js"></script>

    <!-- Custom styles for this template -->
    <link href="style/cosmo.login.css" rel="stylesheet">
</head>
